html {
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 2%;
    font-size: revert !important;
    font-weight: revert !important;
}

.modal-body > * {
    margin-top: 5% !important;
}

.hidden {
    display: none;
}

.showable {
    display: block;
}

.label {
    text-align: start !important;
}

#avabTable {
    margin-top: 15%;
}

.command {
    position: absolute;
    margin-top: 6%;
}

#loading {
    margin-top: 25% !important;
}